* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;

}

.container {
    max-width: 1530px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

body {
    background: #080808;
}

.nav_text {
    margin: 0 auto;
    width: 80%;
    background: #1B1B1B;
    border-radius: 0px 0px 18px 18px;
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav_text ul li {
    margin: 0px 20px;
    display: inline-block;
    font-size: 22px;
}

.nav_icon {
    margin-left: 5%;
}

.nav_text ul li a,
.nav_icon ul li a i {
    color: #9C9C9C;
    font-size: 22px;
    transition: 0.5s;

}

.nav_icon ul li a i:hover {
    color: #fff;
}

.nav_text ul li a:hover {
    color: #fff;
}

/*//////////////////////////////////////////////*/
/* ////////   NAV END   ////////////////////////*/
/*//////////////////////////////////////////////*/


.main_all {
    padding-left: 15%;
    display: flex;
    width: 100%;
}

.main_left {
    width: 50%;
    margin-top: 15%;
}

.main_left h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #fff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 52px;
}

.main_left p {

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #9C9C9C;
}

.main_btn_div {
    margin-top: 70px;
}

.main_btn {
    font-size: 20px;
    line-height: 21px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    padding: 21px 64px;
    height: 63px;
    background: #408e0000;
    border: 1px solid #62BA1B;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
}

.main_btn:hover {
    box-shadow: 0px 8px 30px rgba(63, 142, 0, 0.5);
    padding: 21px 56px 21px 72px;
    background: #3F8E00;
}

.main_right_img {
    width: 70%;
    margin-top: 15%;
    margin-left: 5%;
}

.main_right {
    width: 50%;
}

.main_right img {
    border-radius: 50%;
}

/*////////////////////////////////////////////////////////////*/
/*////////////////////////    MAIN END   /////////////////////*/
/*////////////////////////////////////////////////////////////*/

.footer {
    padding-left: 15%;
}

.footer code {
    color: #fff;
    font-size: 22px;
}

.footer ul {
    color: #fff;
    display: flex;
    
}

.footer li {
    padding: 20px 40px;
    border: 1px solid #1B1B1B;
    border-radius: 6px;
    margin: 3% 0 10% 3%;  
    transition: 0.5s; 
}
.footer ul li a {
    color: #fff;
    opacity: 0.3;
}
.footer li:hover{
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 10px
}

/*////////////////////////////////////////////////////////////*/
/*////////////////////////    FOOTER END   ///////////////////*/
/*////////////////////////////////////////////////////////////*/

